/* mette di sfondo l'immagine della pergamena con il blasone di hogwarts e aggiunge il bordo in fondo per decorazione*/
body {
  background-image: url(imgs/hpb2.png);
  border-bottom-width: thick;
  border-bottom-style: double;
  /* color mappa del malandrino */
  border-color: #3d2416;
  padding-bottom: 30px;
}

/* *******************************************++ *//* *******************************************++ */
/* ***********************************   SEZIONE VETRINA:     ***********************************++ */
/* *******************************************++ *//* *******************************************++ */

/* questa classe forma la vetrina che contiene le copertine ne indica dimensione e posizione */
.containerContieniVetrina{
  /* questo valore delimita i bordi della vetrina di rosso trasparente, utile per vedere dimensioni */
  /* background-color: rgba(129, 0, 0, 0.2); */
  margin-top: 20px;
  margin-bottom: 15px;
  margin-right: 100px;
  margin-left: 400px;
}

.primaRiga{
  padding-bottom: 50px;
}

/* *******************************************++ *//* *******************************************++ */
/* ************************************  SEZIONE SINGOLO ITEM ***********************************++ */
/* *******************************************++ *//* *******************************************++ */

/* questa classe stabilisce le caratteristiche per le copertine */
img {
  width: 250px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 1px;
  border-bottom-width: thick;
  border-bottom-style: double;
  border-color: rgba(61, 36, 22, 0.7);
  /* z-index stabilisce l'importanza "d'apparizione" di un elemento, più basso è il numero meno importante è, quindi gli z-index con un valore più alto possono sovrapporsi a quelli più bassi*/
  z-index: 0;

}

.containerSingoloElemento{
  /* display: inline-block permette di aggiungere width e height, margin padding Top e bottom sono rispettati. Con inline e basta questo non sarebbe vero */
  display: inline-block;
  /* Evidenzia il singolo blocco di ciascun elemento */
  /* background-color: rgba(255, 255, 255, 0.12); */
  margin: 2px;
  margin-top: 5px;
  /* position relative in containerSingoloElemento permette ai suoi figli "sconto" di avere position absolute*/
  position: relative;
}

.scontoBasso{
  background-color: red;
  /* per rendere più visibili le scritte */
  color: white;
  position: absolute;
  right: 0;
  z-index: 1;
  font-size: 20px;
}

.scontoAlto{
  background-color: rgb(20, 255, 0);
  position: absolute;
  right: 0;
  z-index: 1;
  font-size: 25px;
}

.scontoRegalo{
  background-color: violet;
  position: absolute;
  right: 0;
  z-index: 1;
  font-size: 35px;
}

/* *******************************************++ *//* *******************************************++ */
/* **************** Queste classi gestiscono l'effetto speciale della scomparsa dei cuori *******++ */
/* *******************************************++ *//* *******************************************++ */

/* in teoria il cuore è sempre visibile, ma è colorato traspaente quindi è invisibile */
.cuoreAScomparsa{
  display: none;
  font-size: 30px;
  position: absolute;
}

.libroCheNONEsiste{
  display: none;
  font-size: 28px;
  left: 125px;
  position: absolute;
  }

/* colora di rosso i cuori a scomparsa */
.containerSingoloElemento:hover :last-child{
  display: block;
  color: red;
  left: 125px;
}

/* fa comparire le emoj a scomparsa di Harry potter & the Cursed Child */
.cursed.containerSingoloElemento:hover :last-child{
  display: block;
  left: 80px;
}
